services:
  dev-backend:
    build:
      context: .
      target: dev
    restart: unless-stopped
    env_file: .docker-env-dev
    ports:
      - 127.0.0.1:8000:80
    volumes:
      - ./alembic.ini:/app/alembic.ini
      - ./alembic/:/app/alembic/
      - ./app/:/app/app/
      - ./pandoc-filters:/app/pandoc-filters
      - ./scripts/:/app/scripts/
    depends_on:
      - dev-db

  dev-db:
    image: docker.io/library/postgres:18
    restart: unless-stopped
    env_file: .docker-env-dev
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - dev-db-data:/var/lib/postgresql

volumes:
  dev-db-data:
