.admin-team-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.admin-team-table {
  width: 100%;
  table-layout: fixed;
}

.admin-team-table th:first-child,
.admin-team-table td:first-child {
  width: 70%;
}

.admin-team-table th:nth-child(2),
.admin-team-table td:nth-child(2) {
  width: 10%;
  text-align: center;
}

.admin-team-table th:nth-child(3),
.admin-team-table td:nth-child(3) {
  width: 20%;
  text-align: center;
}

.admin-team-is-admin {
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.85rem;
}
