.admin-question-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.admin-question-table {
  width: 100%;
  table-layout: fixed;
}

.admin-question-visible {
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  color: #87d82b;
  font-weight: bold;
}

.admin-question-not-visible {
  padding: 0.25rem 0.5rem;
  border-radius: 0.3rem;
  color: #f93220;
  font-weight: bold;
}
