img.logo {
  border: 1px solid white;
}

.leaderboard-cell {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.leaderboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2.2rem;;
  grid-row-gap:1rem;;
}

