{% extends "page.html" %}
{% block title %}Question{% endblock %}
{% block content %}

  <article>
    <header class="hsplit" >
        <h1> {{ question.number }}. {{ render_md_to_html(question.title, inline=True)|safe }} </h1>
        <h1> ({{ render_md_to_html("$" + question.max_score_display + "$", inline=True)|safe }}) </h1>
    </header>

    <p> {{ render_md_to_html(question.body)|safe }} </p>

    <footer>
      {% if solved %}
        <button class="button-solved">Solved</button>
      {% else %}
        <form method="POST" action="/question/{{ question.id }}/submission">
          <fieldset>
            <label>
              Submission
              <input
                type="text"
                name="answer"
                placeholder="your answer..."
                {% if submission %}
                  value="{{ submission }}"
                {% endif %}
                required
              />
              {% if error %}
                <p class="error">Error: {{ error }}</p>
              {% endif %}
            </label>
          </fieldset>


            <input
              type="submit"
              value="Create"
            />
        </form>
      {% endif %}



    </footer>
  </article>
  <article>
    <header>
      <h2> Previous Submissions </h2>
    </header>

    {% if submissions %}
      <div class="overflow-auto">
        <table class="admin-table">
          <thead>
            <tr>
              <th>Timestamp</th>
              <th>Answer</th>
            </tr>
          </thead>

          <tbody>
            {% for submission in submissions %}
              <tr>
                <td>{{ submission.timestamp }} </td>
                <td class={{ "solved" if submission.correct }}>{{ submission.answer }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% else %}
      <p><b> No submissions yet </b></p>
    {% endif %}

  </article>
{% endblock %}
