{% extends "page.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
  <div class="question-admin-layout">
    <button onclick="window.location='/admin/question/create'">Create</button>
    <table class="question-admin-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Max Score</th>
          <th>Solution</th>
          <th>Visible</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        {% for q in questions %}
          <tr>
            <td>{{ q.number }}</td>
            <td>{{ q.title }}</td>
            <td>{{ q.max_score }}</td>
            <td>{{ q.solution }}</td>
            <td>
                {% if q.visible %}
                  <span class="question-admin-visible">YES</span>
                {% else %}
                  <span class="question-admin-not-visible">NO</span>
                {% endif %}
              </span>
            </td>
            <td>
              <div class="grid">
                <a type="button" href="/admin/question/{{q.id}}" class="outline" data-tooltip="Edit">✏️</a>
                <form class="confirm" method="POST" action="/admin/question/{{q.id}}/reset">
                  <button type="submit" href="/admin/question/{{q.id}}/reset" class="outline" data-tooltip="Delete all submissions for this question" >↺</button>
                </form>
                <form class="confirm" method="POST" action="/admin/question/{{q.id}}/delete">
                  <button type="submit" class="delete outline" data-tooltip="Delete">🗑️</button>
                </form>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
