@import url("navbar.css");
@import url("footer.css");
@import url("pages/admin.css");
@import url("pages/admin_team.css");
@import url("pages/home.css");
@import url("pages/leaderboard.css");
@import url("pages/question_admin.css");
@import url("pages/question_show.css");

body {
  background-color: #644296;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  min-height: 50px;
  background-color: #3D365C;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 20;
}

main {
  flex: 1;
}

footer {
  min-height: 50px;
}


.delete {
  color: #ef2f15;
  border-color: #ef2f15;
  text-decoration: none;
}

table a, table button {
  border:none !important;
}

.hsplit {
    display: flex;
    justify-content: space-between;
}

aside {
    float: right;
    width: 30%;
}
