nav {
  height: 40px;
  padding: 0 1rem;
}

nav a.nav-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav a.nav-brand img {
  max-height: 48px;
  width: auto;
}

*:has(> nav) {
  position: sticky;
  top: 0px;
  z-index: 20;
}
