nav {
  height: 40px;
  padding: 0 1rem;
}

nav a.nav-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav a.nav-brand img {
  max-height: 48px;
  width: auto;
}

*:has(> nav) {
  position: sticky;
  top: 0px;
  z-index: 20;
}

/* Re-apply the Pico CSS `nav li` rule to `nav details`. */
nav details {
  display: inline-block;
  margin: 0;
  padding: var(--pico-nav-element-spacing-vertical) var(--pico-nav-element-spacing-horizontal);
}
