{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
  <div class="admin-container">
    <article>
      <header><strong>Scoreboard</strong></header>
      <table class="admin-table center">
        <thead>
          <tr>
            <th>#</th>
            <th>Team</th>
            <th>Score</th>
          </tr>
        </thead>

        <tbody>
          {% for s in scores %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ s.team.name }}</td>
              <td>{{ s.score }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </article>

    <article>
      <header>
        <strong>
          Team submissions - <a class="secondary" href="/admin/teams.csv">Export</a>
        </strong>
      </header>


      <div class="overflow-auto">
        <table class="admin-table center">
          <thead>
            <tr>
              <th>Team</th>
              {% for q in questions %}
                <th>{{ q.number }}</th>
              {% endfor %}
            </tr>
          </thead>

          <tbody>
            {% for a in answers %}
              <tr>
                <td>{{ a.team.name }}</td>
                {% for q in a.questions %}
                  <td class="{% if q.correct == True %}solved{% elif q.correct == False %}unsolved{% endif %}">
                    {{ q.submissions }}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </article>


    <article>
      <header>
        <strong>
          All submissions - <a class="secondary" href="/admin/answers.csv">Export</a>
        </strong>
      </header>
      <div class="overflow-auto">
        <table class="admin-table">
          <thead>
            <tr>
              <th>Delete</th>
              <th>Team</th>
              <th>Timestamp</th>
              <th>Question</th>
              <th>Answer</th>
            </tr>
          </thead>

          <tbody>
            {% for s in submissions %}
              <tr>
                <td>
                  <form class="confirm" method="POST" action="/question/{{s.question.id}}/submission/{{s.submission.id}}/delete">
                    <button class="delete outline" data-tooltip="Delete" type="submit"/>🗑️</button>
                  </form>
                </th>
                <td>{{ s.team.name }}</td>
                <td>{{ s.timestamp }}</td>
                <td>{{ s.question.number }}</td>
                <td>{{ s.submission.answer }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </article>
  </div>
{% endblock %}
