{% extends "page.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="home-root">
    <div class="home-layout">
      <h1>Team: {{team.name }} </h1>


      <table class="home-questions-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Question</th>
            <th>Score Value</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          {% for q in questions %}
            <tr onclick="window.location='/question/{{q.question.id}}'">
              <td>{{ q.question.number }}</td>
              <td>{{ render_md_to_html(q.question.title, inline=True)|safe }}</td>
              <td><img class="home-logo" src="data:image/png;base64,{{ q.logo }}" /></td>
              <td>
                {% if q.correct %}
                  <span class="home-status home-solved">✓</span>
                {% else %}
                  <span class="home-status home-unsolved">✗</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <a type="button" target="_blank" href="/questions-pdf">Export all questions to PDF</a>
    </div>
  </div>
{% endblock %}
