{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="home-root">
    <div class="home-layout">
      <div class="home-logo">
        <strong>Team progress logo</strong>
        <img class="home-logo" src="data:image/png;base64,{{ img }}" />
      </div>

      <table class="home-questions-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Question</th>
            <th>Submissions</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          {% for q in questions %}
            <tr onclick="window.location='/question/{{q.question.id}}'">
              <td>{{ q.question.number }}</td>
              <td>{{ render_md_to_html(q.question.title, inline=True)|safe }}</td>
              <td>{{ q.submissions }}</td>
              <td>
                {% if q.correct %}
                  <span class="home-status home-solved">✓</span>
                {% else %}
                  <span class="home-status home-unsolved">✗</span>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
