<nav>
  <ul>
    <li>
      <a href="/" class="nav-brand">
        <img src="/static/images/prime.webp" alt="Prime logo" />
        <strong>COMA</strong>
      </a>
    </li>
  </ul>
  <ul>
    <li><a href="/leaderboard">Leaderboard</a></li>
    {% if team %}
      <li><a href="/">Questions</a></li>
      {% if team.admin %}
        <details class="dropdown">
          <summary>Management</summary>
          <ul role="list">
              <li><a href="/admin">Overview</a></li>
              <li><a href="/admin/team">Teams</a></li>
              <li><a href="/admin/question">Questions</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </details>
      {% else %}
        <li><a href="/logout">Logout</a></li>
      {% endif %}
    {% else %}
      <li><a href="/login">Login</a></li>
    {% endif %}
  </ul>
</nav>
