{% extends "base.html" %}
{% block title %}Question{% endblock %}
{% block content %}
  <h1> {{question.title}} </h1>
  <h2> {{question.max_score}} </h2>
  
  <p> {{ render_md(question.body)|safe }} </p>
  
  <form method="POST" action="/question/{{question.id}}">
    <fieldset>
      <label>
        Submission
        <input 
          type="text" 
          name="solution" 
          placeholder="solution..." 
          required
        />
      </label>
    </fieldset>
      <input
        type="submit"
        value="Create"
      />
  </form>
{% endblock %}
