{% extends "base.html" %}
{% block title %}Question{% endblock %}
{% block content %}
  <h1> {{question.title}} </h1>
  <h2> {{question.max_score}} </h2>

  <p> {{ render_md_to_html(question.body)|safe }} </p>

  <form method="POST" action="/question/{{question.id}}/submission">
    <fieldset>
      <label>
        Submission
        <input
          type="text"
          name="answer"
          placeholder="your answer..."
          required
        />
      </label>
    </fieldset>
      <input
        type="submit"
        value="Create"
      />
  </form>

  <h2> Previous Submissions </h2>

  {% if submissions %}
    <ul>
      {% for submission in submissions %}
        <li> {{ submission.answer }} </li>
      {% endfor %}
    </ul>
  {% else %}
    <p><b> No submissions yet </b></p>
  {% endif %}
{% endblock %}
